*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(243, 204, 156);
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    margin: 2em;
    text-align: center;
    height: 13em;
    width: 30em;
    background-color: cadetblue;
    color: white;
}